# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

portfolio/build

node_modules
portfolio/node_modules
portfolio/src/backend/node_modules

portfolio/node_modules
bower_components
.env*
portfolio.session.sql

*.sublime*

psd
thumb
sketch
.vscode
portfolio/origin_ca.pem
portfolio/origin_ca.key
portfolio/nginx/certs/origin_ca.key
portfolio/nginx/certs/origin_ca.pem
portfolio/nginx/certs/default.cert
portfolio/nginx/certs/default.key
