<!doctype html>
<html>
<head>
    <%- include('partials/head'); %>
</head>
<header>
    <%- include('partials/header'); %>
</header>
<body>
    <div class="link-row">
        <div class="image-container">
            <a href="/list-courses">
                <img src="/assets/logo-btssiosisr.png" alt="Descriptif du BTS SIO SISR">
            </a>
        </div>

    </div>
    <div class="link-row">
        <div class="image-container">
            <a href="/experiences">
                <img src="/assets/logo-portfolio.png" alt="Portfolio">
            </a>
        </div>

    </div>
    <div class="link-row">
        <div class="image-container">
            <a href="/realisations">
                <img src="/assets/logo-realisations.png" alt="Réalisations">
            </a>
        </div>

    </div>
</body>
<footer>
    <%- include('partials/footer'); %>
  </footer>
</html>