<!doctype html>
<html>
<head>
<title>The Main Home Page</title>
<%- include('styles'); %>
</head>
<body>
<h1> This is the Main Home Page </h1>
<a href="/list-courses">Descriptif du BTS SIO SISR</a>
<br>
<a href="/experiences">Portfolio</a>
<br>
<a href="/realisations">Realisations</a>
</p>
</body>
</html>