<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Page</title>
    <%- include('partials/head'); %>
</head>
<header>
    <%- include('partials/header'); %>
</header>
<body>
    <h1>This is a protected page</h1>
    <p>Welcome, <%= user.username %>!</p>
</body>
<footer>
    <%- include('partials/footer'); %>
</footer>
</html>
