<!doctype html>
<html>
<head>
<title>The Main Realisations Page</title>
<%- include('styles'); %>
</head>
<body>
<h1> <%= title %> </h1>
<a href="/">Accueil</a>
<br>
<h3><%= realisation.r_intitule %></h3>
<p> </p>
<p><%= realisation.r_description %></p>

<a href="/realisations"><button>Retour à la liste des réalisations</button></a>

</body>
</html>
