<!doctype html>
<html>

<head>
    <title>The Main Realisations Page</title>
    <%- include('styles'); %>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <a href="/">Accueil</a>
    <br>
    <h3>
        <%= realisation.r_intitule %>
    </h3>
    <p> </p>
    <p>
        Concepts clés: <%= realisation.r_description %>
    </p>

    <div class="container">
        <ul class="ordering">
            Compétences:
            <li><span></span>
                Mise en oeuvre 
            </li>
            <li><span></span>
                Non mise en oeuvre 
            </li>
        </ul>
        <% if (realisation.est_gestion_patrimoine) { %>
            <div class="truebox">
                <% } else { %>
                    <div class="falsebox">
                        <% } %>
                            <p>Gérer le patrimoine informatique</p>
                    </div>
                    <% if (realisation.est_response_incidents) { %>
                        <div class="truebox">
                            <% } else { %>
                                <div class="falsebox">
                                    <% } %>
                                        <p>Incidents, Assistance, Evolution</p>
                                </div>
                                <% if (realisation.est_presence_en_ligne) { %>
                                    <div class="truebox">
                                        <% } else { %>
                                            <div class="falsebox">
                                                <% } %>
                                                    <p>Présence en ligne</p>
                                            </div>
                                            <% if (realisation.est_travail_mode_projet) { %>
                                                <div class="truebox">
                                                    <% } else { %>
                                                        <div class="falsebox">
                                                            <% } %>
                                                                <p>Mode projet</p>
                                                        </div>
                                                        <% if (realisation.est_deploiement_service) { %>
                                                            <div class="truebox">
                                                                <% } else { %>
                                                                    <div class="falsebox">
                                                                        <% } %>
                                                                            <p>Mettre à disposition</p>
                                                                    </div>
                                                                    <% if (realisation.est_developpement_pro) { %>
                                                                        <div class="truebox">
                                                                            <% } else { %>
                                                                                <div class="falsebox">
                                                                                    <% } %>
                                                                                        <p>Développement pro</p>
                                                                                </div>
                                                                        </div>


                                                                        <a href="/realisations"><button>Retour à la
                                                                                liste des réalisations</button></a>

</body>

</html>